@tailwind base;
@tailwind components;
@tailwind utilities;

#css-ok {
	display: block !important;
}

#css-fail {
	display: none;
}

a {
	@apply underline;
	@apply font-mono;
	@apply hover:text-red-800;
}